@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  )
));

html {
  @include mat.all-component-themes($theme);
}

*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #fafafa;
  color: #212121;
}
